#chat-container {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

#chat-messages {
    flex-grow: 1;
    border: 1px solid #cccccc;
    margin: -1em 1em 1em -1em;
    padding: 1em;
}
